
# Azure Functions artifacts
bin
obj
appsettings.json
# Uncomment this if you are planning to use sensitive data in this file. 
# local.settings.json


# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json